
body{
    background-color : #e0e2e4;
    font-family: 'Varela Round', sans-serif;
}

.nav-link{
    color:#002366;
    border-bottom: 5px solid #ffef96;
    font-size: 20px;
}

h1 {
    font-size: 60px;
    color: blue;
}

.nav {
    margin-top: 20px;
    font-size: 30px;
    /* font-weight: bold; */
}

.jumbotron {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    max-height: 500px;
    color: white;
    background-image: url(Jumbo_back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    box-shadow: 10px 10px 3px 2px #888888;
}

.display-4 {
    color: white;
    font-size: 55px;
    border: 5px solid #ffef96;
}

#desc {
    margin-top: 80px;
    margin-right: 80px;
}

src{
    max-height: 200px;
}

.carousel-inner > .item > img {
  width:640px;
  height:360px;
}

.disabled {
    color: #ffef96;
}

.lead {
    font-size: 25px;
    color: #333333;
}

img {
    opacity: 0.5;
}

.carousel-caption {
    color: #333333;
}

tr {
    width: 100%;
}
table {
    height: 50px;          
    display: -moz-groupbox;
    /* font-size: 20px; */
}
tbody {
    overflow-y: scroll;  
    height: 500px;
}
#headers {
    font-size: 30px;
}
#description {
    width: 60%;
}


h2{
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

footer {
    margin-top: 70px;
    color: #333333;
}

#dropdown{
    margin-left: 50%;
}

/* form {
    margin: 0 auto;
}

label {
    text-align:left;
  width:150px;
  display:block;
  float:left;
  clear:right;
  font-size:18;
} */

.events {
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    max-height: 350px;
    color: white;
    background-image: url(Jumbo_back.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 200vh;
    box-shadow: 10px 10px 3px 2px #888888;
}